body{
    background-color: #fff6e2;
}

.container{
    margin: auto;
    /*background-color: green;*/
    width: 700px;
    height: 500px;
    margin-top: 50px;
    /*background-color: green;*/
   
}

.form_container{
      margin-top: 100px;
      display: flex; /* or inline-flex */;
      justify-content: space-evenly;
      height: 50px;
      /*background-color: yellow;*/
}

.text_container{
    margin: auto;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px; 
    font-size: 30px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
  }
  
 #habit{
   height: 48px;
   width: 350px;
   font-size: 20px;
   border: 1px solid black;
   padding: 0;
 } 
 
 #button {
    /*height: 40px;*/
    width: 120px;
    font-size: 20px;
    border: 1px solid black;
   
 }
 
 