body{
    background-color: #f7dcdc;
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 250px;
    /*padding-top: 10px;*/
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: -200px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    color: #701a1a;
    /*letter-spacing: 0.5cm;*/
    /*border: 2px solid #4CAF50;*/
}

.scroll{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-style: oblique;
    color: #701a1a;
    margin-top: 80px;
    margin-left: 50px;
      /*border: 2px solid #4CAF50;*/
}

.not_sticky {
    color: #701a1a;
    margin-top: 1600px;
    margin-left: 50px;
    margin-bottom: 1600px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    /*letter-spacing: 0.5cm;*/
    /*border: 2px solid #4CAF50;*/
   text-indent: 20px;
}

.author{
  font-style: oblique;
  font-size: 24px;
  color: #701a1a;
  margin-left: 800px;
  margin-top: -20px;
}