#heading {
    margin: auto;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    max-width: 50%;
    text-align: center;
  }

  .cat {
      margin: auto;
      max-width: 51%;
  }

  #quote {
      margin: auto;
      font-family: 'Courier New', Courier, monospace;
      font-size: 24px;
      max-width: 50%;
         text-align: center;
  }


 #author {
      margin: auto;
      font-family: 'Courier New', Courier, monospace;
      font-size: 16px;
      max-width: 50%;
         text-align: center;
  }
  
  
  .box-shadow{
    box-shadow: 0px 0px 20px grey;
    z-index: 100;
  }

  .text-shadow {
    text-shadow: 0px 0px 20px grey;
    z-index: 100;
  }